mixin bg-video
	.bg-video#live
		.wrapper.wrapper-bg
			.bg-video__title#titleVideo Watch Live Now
			<iframe width="1024" id="liveVideo" height="400" src="https://www.youtube.com/embed/RtU_mdL2vBM" frameborder="0" allowfullscreen></iframe>
			.bg-video__icon#playLiveVideo
