mixin footer
	footer.footer
		.wrapper.wrapper-bg
			.footer__title Sign up for News & Reminders
			form(method="POST" action="").footer-form
				input(type="text" value="" name="email" placeholder="Email Address" required).footer-form__field.form-field
				input(type="submit" value="join us").footer-form__submit.button.button--green
			.footer__bottom
				.footer__policy
					| Isina Inc., 2017<br>
					| Terms of use. Privacy notice. Official rules.
				+social

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	script(src="./js/main.min.js")