mixin head
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='./style/normalize.min.css')
		link(rel='stylesheet', href='./style/main.min.css')