mixin menu
	.menu
		.wrapper
			.menu__mobile#menuMobile
				img#closeMenu.mobile-menu-close-btn(src="./images/close.png")
				a(href="#arrival" title="").menu__item Arrival
				a(href="#applicants-sm" title="").menu__item Applicants
				a(href="#teachers-sm" title="").menu__item Teachers
				a(href="#live" title="").menu__item Live
				a(href="#house" title="").menu__item House
				a(href="#studios" title="").menu__item Studios
				a(href="#concerts" title="").menu__item Concerts
			.menu__list
				a(href="#arrival" title="").menu__item Arrival
				a(href="#applicants" title="").menu__item Applicants
				a(href="#teachers" title="").menu__item Teachers
				a(href="#live" title="").menu__item Live
				a(href="#house" title="").menu__item House
				a(href="#studios" title="").menu__item Studios
				a(href="#concerts" title="").menu__item Concerts
