mixin social
	.social
		a(href="#" title="" target="_blank").social__icon.social__icon--tw
		a(href="#" title="" target="_blank").social__icon.social__icon--fb
		a(href="#" title="" target="_blank").social__icon.social__icon--in
	