mixin top-banner
	.top-banner#arrival
		.wrapper
			.top-banner-header
				img.mobile-menu-btn(src="./images/menu-icon.svg", width="32", height="27")#open-menu
				a.top-banner-header__logo(href="#")
				a(href="#" title="").top-banner-header__button.button.button--iconed upload tracks
				a(href="#" title="").top-banner-header__button-mobile.button
			.top-banner__content
				.top-banner__title Arrival
				.top-banner__subtitle october 10 – november 17
				.top-banner__text Abbot Kinney Blvd – named after the developer and conservationist who founded Venice – is perhaps one of the liveliest, trendiest streets in all of Los Angeles.

