mixin your-career
	.your-career
		.wrapper.wrapper-bg
			.your-career__col.your-career__col--first
				.your-career__curve
				.your-career__content
					.your-career__title make music your career!
					+social
			.your-career__col.your-career__col--second
				<iframe id="smallVideo" width="409" height="397" src="https://www.youtube.com/embed/jsCR05oKROA" frameborder="0" allowfullscreen></iframe>
				.your-career__icon.your-career__icon--play#playSmallVideo
				.your-career__video-title Los Angeles, California
	