.bg-video {
	.wrapper {
		padding-top: 36px;
	}
	&__title {
		font-size: rem(130);
		text-align: center;
		margin-bottom: 20px;
		@media screen and (max-width: 768px) {
			font-size: rem(96);
		}					
	}
	&__icon {
		width: 116px;
		height: 116px;
		background: url(../images/playback.svg) no-repeat;
		margin-right: auto;
		margin-left: auto;
		cursor: pointer;
	}
}