::-webkit-input-placeholder {
	color: rgba($black, .3);
}
::-moz-placeholder {
	color: rgba($black, .3);
}
:-moz-placeholder {
	color: rgba($black, .3);
}
:-ms-input-placeholder {
	color: rgba($black, .3);
}
a {
	text-decoration: none;
	@include transition;
}
.title {
	font-size: rem(32);
	color: $black;
	text-align: center;
}
.button {
	border: none;
	outline: none;
	background-color: #DB4863;
	border-radius: 32px;
	color: $white;
	text-transform: uppercase;
	display: inline-block;
	line-height: 40px;
	height: 40px;
	cursor: pointer;
	@include transition;
	&:hover {
		background-color: darken(#DB4863, 5%);
	}
	&--green {
		background-color: #AFD23F;
		&:hover {
			background-color: darken(#AFD23F, 5%);		
		}
	}
	&--iconed {
		position: relative;
		&:before {
			content: '';
			@include vertical-center;
			left: 15px;
			background-repeat: no-repeat;
		}
	}
}

.form-field {
	outline: none;
	background-color: $white;
	border-radius: 32px;
	border: 1px solid rgba($black, .1);
	
}
