@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/carousel";

@import "color";
@import "mixins";
@import "fonts";
@import "common";
@import "gui";

@import "top-banner";
@import "menu";
@import "your-career";
@import "social";
@import "who-should";
@import "applicants";
@import "teachers";
@import "bg-video";
@import "slider";
@import "footer";

.carousel .item {
	@media screen and (max-width: 480px) {
		height: 600px;
	}
	img {
		@media screen and (max-width: 480px) {
			height: 100%;
			max-width: none;
		}
	}
}
.carousel-caption {
	bottom: 90px;
	@media screen and (min-width: 481px) and (max-width: 580px) {
		bottom: 40px;
	}	
	@media screen and (max-width: 480px) {
		left: 2%;
		right: 2%;
	}
}
.icon-carousel {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption__time {
	font-size: rem(56);
	@media screen and (max-width: 768px) {
		font-size: rem(40);
	}
	@media screen and (max-width: 550px) {
		font-size: rem(31);
	}
}

.carousel-caption__name {
	font-size: rem(96);
	padding-top: 100px;
	padding-bottom: 100px;
	@media screen and (max-width: 768px) {
		padding-top: 25px;
		padding-bottom: 27px;
		font-size: rem(50);
	}
	@media screen and (min-width: 481px) and (max-width: 575px) {
		padding-bottom: 5px;
	}	
	@media screen and (max-width: 480px) {
		font-size: rem(76);
		padding-top: 62px;
		padding-bottom: 62px;
	}
}

.carousel-caption__desc {
	font-size: rem(20);
}

.carousel-caption--custom {
	@media screen and (min-width: 551px) {
		top: 50px;
	}
}

.carousel-indicators--black {
	li {
		border-color: #000;
	}
	.active {
		background-color: #000;
	}
}
#smallVideo {
	position: absolute;
	z-index: -1;
}

.smallVideoShow {
	z-index: 9999 !important;
}

iframe, object, embed {
	max-width: 100%;
}

#liveVideo {
	display: none;
}